<div>
    <h1>YSI Project</h1>
    <br>
    <div class="home">
        <p>This project was developped by Kevin Baptista, Timothée Picard and Walid Mamouni
            as part of the "Conduite de Projet" University course. Bordeaux, France 2016.</p>
        <p>The goal is to manage SCRUM projects.</p>
        <br>
        <ul>
            <li>You can list all of the projects on the "Project" menu. Then you can click on one project to open it and view details</li>
            <li>The product backlog is then displayed, you can add user story and edit them</li>
            <li>In the "Sprint" menu you can view all the sprints of the project with the start date and dead line</li>
            <li>You can add user story to each sprint.</li>
            <li>If you click on one sprint, you can add tasks to one sprint on a particular user story</li>
            <li>You can view the sprint Kanban, by default all tasks created are in the TODO list</li>
            <li>You can drag'n'drop tasks from TODO to ONGOING or DONE</li>
            <li>The "My team" menu is the place where you can add member to your project</li>
            <li>In the "Traceability" menu you can add the ID of commit of each US</li>
        </ul>
    </div>
</div>