<div>
    <div class="col-md-4 col-md-offset-3">
    <h2>Register</h2>
    <form method="post" ng-submit="signup()">
        <div class="form-group">
            <label for="userName">Name</label>
            <input type="text" class="form-control" id="userName" placeholder="Name" ng-model="user.name">
        </div>
        <div class="form-group">
            <label for="userPassword">Password</label>
            <input type="password" class="form-control" id="userPassword" placeholder="Password" ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-default">Register</button>
    </form>
    </div>
</div>