<div class="panel-heading">
    <div class="panel-title"><h2>Sprints project : {{projectName}}</h2>
    </div>
</div>
<div class="panel-body">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>Dead Line</th>
                <th>User Stories</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sprint in sprints">
                <td><a href="#/project/{{projectId}}/sprints/{{sprint.name}}" >Sprint {{sprint.name}}</a></td>
                <td>{{sprint.startDate}}</td>
                <td>{{sprint.deadLine}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel-body">
    <div class="table-responsive">
        <h2 ng-click="test()">User Stories list</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Effort</th>
                <th>Priority</th>
                <th>Select Sprint</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="us in userStories">
                <td>{{us.name}}</td>
                <td>{{us.description}}</td>
                <td>{{us.effort}}</td>
                <td>{{us.priority}}</td>
                <td>
                    <select ng-model="selected.sprint" class="form-control size-select" ng-options="sprint._id as sprint.name for sprint in sprints track by sprint._id" >
                    </select>
                    <button class="btn btn-default" ng-click="addUsToSprint(us._id)">Add</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>