<div class="panel-heading">
    <div class="panel-title"><h2>Sprints project : {{projectName}}</h2>
        <h3></h3>
    </div>
</div>
<div class="panel-body">

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>Dead Line</th>
                <th>User Stories</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sprint in sprints">
                <td>Sprint {{sprint.id}}</td>
                <td>{{sprint.startDate}}</td>
                <td>{{sprint.endDate}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>