<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <li><a href="#/project/{{projectId}}/chart"><i class="glyphicon glyphicon-stats"></i>Burndown chart</a></li>
        <li><a href="#/project/{{projectId}}"><i class="glyphicon glyphicon-list-alt"></i> Backlog</a></li>
        <li><a href="#/project/{{projectId}}/sprints"><i class="glyphicon glyphicon-tasks"></i> Sprint </a></li>
        <li><a href="#/project/{{projectId}}/members"><i class="glyphicon glyphicon-user"></i> My team </a></li>
    </ul>
</div>